.header {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  background-color: $headerbgcolor;
}

.head-title {
  padding: 20px 30px;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: .8em;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  font-size: .9em;
  width: 100%;
  border-top: 1px solid black;
  background-color: white;
}

.navbar {
  display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  font-family: 'Raleway', sans-serif;
  padding: 10px 30px;
  width: 100%;

  .navmenu {
    display: flex;
    // justify-content: space-between;
  }

  .navitem {
    margin-right: 15px;
  }

  .navlink:hover {
    color: $hovercolor;
  }

  .navbarlogin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
