html {
  height: 100%; }

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

#wrap {
  min-height: 100%; }

.container, .modal {
  display: flex;
  justify-content: center; }

.inner-container, .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.myheader {
  font-size: 2em;
  margin-bottom: 10px; }

.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  width: 100%; }
  .gallery-container img {
    margin-bottom: 10px; }

.header {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  background-color: #f9f9f9; }

.head-title {
  padding: 20px 30px; }

.title {
  font-size: 3em; }

.subtitle {
  font-size: .8em; }

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  font-size: .9em;
  width: 100%;
  border-top: 1px solid black;
  background-color: white; }

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  padding: 10px 30px;
  width: 100%; }
  .navbar .navmenu {
    display: flex; }
  .navbar .navitem {
    margin-right: 15px; }
  .navbar .navlink:hover {
    color: #33ccff; }
  .navbar .navbarlogin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }

.homepagecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.homepage {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .quote-container .quotes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%; }
  .quote-container .quote {
    font-size: 1.2em;
    margin-bottom: 5px; }
  .quote-container .quoteauthor {
    font-size: .7em; }

.featured {
  width: 150px;
  min-width: 150px;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 25px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 80%; }
@inlude bpsmall {}
.thumbnail {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
  width: 200px;
  flex-direction: row;
  align-items: flex-start; }

.thumbnail-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: .9em; }
  .thumbnail-data img {
    display: block;
    width: auto;
    height: auto;
    max-width: 200px; }

.thumbuser {
  font-size: 1.2em;
  margin: 5px 0; }

.thumbuser:hover {
  color: #33ccff; }

.thumboutline {
  border: 1px solid #33ccff; }

.logincontainer {
  display: flex;
  justify-content: center; }

.loginform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px; }
  .loginform form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .loginform input[type=text], .loginform input[type=password] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px #0062A3;
    -moz-box-shadow: 0 0 1px #0062A3;
    box-shadow: 0 0 1px #0062A3;
    padding: .5em;
    font-size: 1em;
    margin-bottom: 10px; }
  .loginform input[type=submit] {
    margin-top: 10px;
    border: none;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px #5F7278;
    -moz-box-shadow: 0 0 3px #5F7278;
    box-shadow: 0 0 3px #5F7278;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    cursor: pointer; }

.user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 0; }
  .user-info .username {
    font-size: 2em;
    margin-bottom: 10px; }
  .user-info img {
    margin-bottom: 10px; }

.user-gallery {
  width: 100%; }

.profilebutton {
  margin-top: 10px;
  font-size: .9em; }

.edit-info-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px; }
  .edit-info-form form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .edit-info-form input[type=text], .edit-info-form input[type=password], .edit-info-form textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px #0062A3;
    -moz-box-shadow: 0 0 1px #0062A3;
    box-shadow: 0 0 1px #0062A3;
    padding: .5em;
    font-size: 1em;
    margin-bottom: 10px; }
  .edit-info-form textarea {
    width: 100%; }
  .edit-info-form input[type=textarea] {
    rows: 5; }
  .edit-info-form input[type=submit], .edit-info-form input[type=button] {
    margin-top: 10px;
    border: none;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px #5F7278;
    -moz-box-shadow: 0 0 3px #5F7278;
    box-shadow: 0 0 3px #5F7278;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    cursor: pointer; }

input[type=button] {
  margin-top: 10px;
  border: none;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #5F7278;
  -moz-box-shadow: 0 0 3px #5F7278;
  box-shadow: 0 0 3px #5F7278;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  cursor: pointer; }

.collContainer {
  margin-top: 50px; }

#main {
  overflow: auto;
  padding-bottom: 40px;
  /* must be same height as the footer */ }

.footer {
  color: #8f8f8f;
  background-color: #1e1e1e;
  height: 60px;
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  clear: both;
  display: flex;
  justify-content: flex-start; }

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.85);
  /* Black w/ opacity */ }

.modal-content {
  background-color: black;
  color: #8f8f8f;
  margin: 5% auto;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 90%;
  height: 70vh; }
  .modal-content img {
    max-height: 50vh;
    max-width: 90%;
    margin-bottom: 20px; }

.modalBigText {
  font-size: 1.5em;
  margin-bottom: 10px; }

.modalFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.close {
  display: flex;
  align-self: flex-end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
