<div class="container collContainer">
  <div class="inner-container">

    <img class="collImg" src={{collection.curCollection.url}} alt="">
    <div class="myheader">{{collection.curCollection.title}}</div>
    <div ng-click="main.showUserPage(collection.curCollection.user_id)" class="myheader thumbuser">{{collection.userName}}</div>
    <div>{{collection.curCollection.description}}</div>

    <input type="button" ng-if="main.userID === main.selectedUserId"
    class='profilebutton' ng-click="main.showSelectPicturesPage(collection.curCollection)"
    name="Edit" value="Add Pictures">

    <div class="gallery-container">
      <div class="gallery">

        <div ng-repeat="picture in collection.pictures" class="thumbnail">
          <div class="thumbnail-data">

            <img  ng-click="main.showPhotoModal(picture.id)" src={{picture.url}} alt="">

            <div ng-click="main.showPhotoModal(picture.id)" class="thumbuser">{{picture.title}}</div>

            <div>{{picture.description}}</div>

            <input ng-if="main.userID === main.selectedUserId" type="button" value="Remove Picture"
            ng-click="collection.removePicture(picture.id)"
            class="profilebutton">

          </div> <!-- thumbnail-data -->
        </div> <!-- thumbnail -->

      </div> <!-- end gallery -->
    </div> <!-- end gallery-container -->

  </div> <!-- end inner-container -->
</div> <!-- end container -->
