<div class="container">
  <div class="inner-container">
    <div class="myheader">Collections</div>

    <div class="gallery-container">
      <div class="gallery">

        <div ng-repeat="collection in collection.collections" class="thumbnail">
          <div class="thumbnail-data">
            <div class="thumbuser">{{collection.title}}</div>
            <div ng-click="main.showUserPage(collection.user_id)" class="thumbuser" >
              {{collection.user.name}}
            </div>
            <div>{{collection.description}}</div>
          </div> <!-- end thumbnail-data -->
        </div> <!-- end thumbnail -->

      </div> <!-- end gallery -->
    </div> <!-- end gallery-container -->
  </div> <!-- end inner-collections -->
</div> <!-- End collections-container -->
