<div class="header">
  <div class="head-title">
    <div class="title">Art From Light</div>
    <div class="subtitle">
      A Celebration Of Photography
    </div>
  </div>

  <div class="nav">
    <div class="navbar">
      <div class="navmenu">
        <div class="navlink" ng-click="main.showHome()">Home</div>
        <div class="navlink">Photo Shoots</div>
        <div  class="navlink">Collections</div>
      </div>
      <div ng-if="main.userID === 0" class="navbarlogin" ng-click="main.showLogin()">
        Login/register
      </div>
      <div ng-if="main.userID !== 0" class="navbarlogin" ng-click="main.signOut()">
        Sign Out
      </div>
    </div>
  </div>
</div>
