<div class="header">
  <div class="head-title">
    <div  ng-click="main.showHome()" class="title">Art From Light</div>
    <div class="subtitle">
      A Celebration Of Photography
    </div>
  </div>

  <div class="nav">
    <div class="navbar">
      <div class="navmenu">
        <div class="navitem navlink" ng-click="main.showHome()">Photographers</div>
        <div class="navitem navlink">Photo Shoots</div>
        <div  class="navitem navlink">Collections</div>
      </div>
      <div ng-if="main.userID === 0" class="navbarlogin navlink" ng-click="main.showLogin()">
        Login/register
      </div>
      <div ng-if="main.userID !== 0" class="navbarlogin">
        <div class="navitem navlink" ng-click="main.showUserPage(main.userID)">
          Account
        </div>
        <div ng-click="main.signOut()" class="navlink">
          Sign Out
        </div>
      </div>
    </div>
  </div>
</div>
