<div class="quote-container">
  <div class="quotes">
    <blockquote class="quote">
      Art is not what you see, but what you make others see.<br>
      <span class="quoteauthor">- Edgar Degas</span>
    </blockquote>


    <blockquote  class="quote">
      A great photograph is one that fully expresses what one feels, in the deepest sense, about what is being photographed.<br>
      <span class="quoteauthor">- Ansel Adams</span>
    </blockquote>
  </div>
</div>

<div class="homepagecontainer">
  <!-- <div class="homepage"> -->
    <!-- <div class="featured">
      Featured Collections
    </div> -->

    <div class="gallery">
      <div class="thumbnail" ng-repeat="user in home.allUsers">
        <div class="thumbnail-data">
          <img ng-click="main.showUserPage(user.id)"
          src={{user.profile_url}} alt=""
          class="thumbhover">
          <div ng-click="main.showUserPage(user.id)" class="thumbuser">{{user.name}}</div>
          <div>{{user.address}}</div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
