<div class="container">
  <div class="inner-container">
    <div class="myheader">Photographs</div>

    <div class="gallery-container">
      <div class="gallery">
        <div ng-repeat="photo in photos.photos" class="thumbnail">
          <div class="thumbnail-data">

            <img ng-click="photos.showPhoto(photo.id)"
            src={{photo.url}} alt="">

            <div ng-click="photos.showPhoto(photo.id)" class="thumbuser">{{photo.title}}</div>

          </div> <!-- end thumbnail-data -->
        </div> <!-- end thumbnail -->

      </div> <!-- end gallery -->
    </div> <!-- end gallery-container -->

  </div> <!-- end inner-container -->
</div> <!-- end container -->

<div ng-if="photos.showFullSize" class="modal">
  <div class="modal-content">
    <img src={{photos.selectedPhoto.url}} alt="">

    {{photos.selectedPhoto.title}}
    {{photos.selectedPhoto.user.name}}
  </div>
</div>
