<div class="container">
  <div class="inner-container">
    <div class="myheader">Photographs</div>

    <div class="gallery-container">
      <div class="gallery">

        <div ng-repeat="photo in photos.photos" class="thumbnail">
          <div class="thumbnail-data">
            <img ng-click="main.showUserPage(user.id)"
            src={{photo.url}} alt="">

            <div class="thumbuser">{{photo.title}}</div>
            <div>{{photo.description}}</div>

          </div> <!-- end thumbnail-data -->
        </div> <!-- end thumbnail -->

      </div> <!-- end gallery -->
    </div> <!-- end gallery-container -->

  </div> <!-- end inner-container -->
</div> <!-- end container -->
