<div class="container">
  <div class="inner-container">

    <!-- Photographer's bio -->
    <div class="user-info">
      <div class="username" ng-model="user.currentUser.name">
        {{user.currentUser.name}}
      </div>

      <img src={{user.currentUser.profile_url}} alt="">
      {{user.currentUser.address}}

      <div ng-if="main.userID === main.selectedUserId"
        ng-click="user.showEditUserModal(true)"
        class="thumbcmdlink thumbuser"
        >Edit Profile</div>
    </div>

    <!-- Collections gallery -->
    <div ng-if="user.collections.length !== 0 || main.userID === main.selectedUserId" class="gallery-container edit-info-form">
      <div class="myheader">Collections</div>

      <!-- Add collection button -->
      <div ng-if="main.userID === main.selectedUserId"
        ng-click="user.showAddCollForm(true)"
        class="thumbcmdlink thumbuser"
        >Add Collection</div>


      <!-- Inner collection gallery -->
      <div class="gallery">
        <!-- Thumbnail -->
        <div ng-repeat="collection in user.collections" class="thumbnail">
          <div class="thumbnail-data">
            <img ng-click="main.showCollectionPage(collection)" src={{collection.url}} alt="">
            <div ng-click="main.showCollectionPage(collection)" class="thumbuser">{{collection.title}}</div>

            <div ng-if="main.userID === main.selectedUserId" >
              <div ng-click="main.showCollectionPage(collection)" class="thumbcmdlink thumbuser">Edit</div>

              <div ng-click="user.deleteCollection(collection)" class="thumbcmdlink thumbuser">Delete</div>
            </div>
          </div>
        </div> <!-- End of Thumbnail -->
      </div> <!-- end of inner collection gallery -->

    </div> <!-- End of collection gallery -->

    <!-- Picture gallery -->
    <div ng-if="user.pictures.length !== 0 || main.userID === main.selectedUserId"  class="gallery-container">
      <div class="myheader">Pictures</div>

      <!-- Add picture button -->
      <div ng-if="main.userID === main.selectedUserId"
        ng-click="user.showAddPicForm(true)"
        class="thumbcmdlink thumbuser"
        >Add Picture</div>

      <!-- Picture gallery -->
      <div class="gallery">

        <div ng-repeat="picture in user.pictures" class="thumbnail" >

          <!-- Thumbnail data -->
          <div class="thumbnail-data">

            <img ng-click="main.showPhotoModal(picture.id)" src={{picture.url}} alt="">
            <div ng-click="main.showPhotoModal(picture.id)" class="thumbuser">
              {{picture.title}}
            </div>

            <div ng-if="main.userID === main.selectedUserId" >
              <div ng-if="main.userID === main.selectedUserId"
              ng-click="main.showPhotoModal(picture.id, true)"
              class="thumbcmdlink thumbuser"
              >Edit</div>

              <div ng-if="main.userID === main.selectedUserId"
              ng-click="user.deletePicture(picture.id, $index)"
              class="thumbcmdlink thumbuser"
              >Delete</div>
            </div>
          </div>
        </div> <!-- End thumbnail -->
      </div> <!-- End picture gallery -->
      </div>

  </div>
</div>

<!-- Modal for adding a collection -->
<div ng-show="user.showEditModal" ng-init="user.initAddColModal()" class="modal container">
  <div class="modal-content">
    <span ng-click="user.showAddCollForm(false)" class="close">&times;</span>
    <div class="modalBigText">Add Collection</div>

    <div class="modalFields edit-info-form">

      <img class="modalThumbPic" id="col-img-preview" src="" alt="">

      <label class="thumbcmdlink thumbuser" for="col-file-upload">
        <input id="col-file-upload" type="file" accept="image/*" style="display:none;">
        Select a Display Picture
      </label>

      <form class="modalFields" ng-submit="user.saveNewCollection()">

        <input type="text" ng-model="user.newCollection.title" placeholder="Title">

        <input type="text" ng-model="user.newCollection.description" placeholder="description">

        <input type="submit" class="profileButton" value="Save">

      </form>
    </div> <!-- end modalFields -->

  </div> <!-- end modal-content -->
</div> <!-- end modal container -->

<!-- Modal for adding a picture -->
<div ng-show="user.showAddPicModal" ng-init="user.initAddPicModal()" class="modal container">
  <div class="modal-content">
    <span ng-click="user.showAddPicForm(false)" class="close">&times;</span>
    <div class="modalBigText">Add Picture</div>

    <div class="modalFields edit-info-form">
      <img class="modalThumbPic" id="img-preview" src="" alt="">

      <label class="thumbcmdlink thumbuser" for="file-upload">
        <input id="file-upload" type="file" accept="image/*" style="display:none;">
        Select an Image
      </label>

      <form class="modalFields" ng-submit="user.saveNewPicture()">

        <input type="text" ng-model="user.newPicture.title" placeholder="Title">

        <input type="text" ng-model="user.newPicture.description" placeholder="description">

        <input type="submit" class="profileButton" value="Save">

      </form>
    </div> <!-- end modalFields -->

  </div> <!-- end modal-content -->
</div> <!-- end modal container -->

<!-- Modal for editing photographer's bio -->
<div ng-show="user.showUserModal" ng-init="user.initEditProfileModal()" class="modal container">
  <div class="modal-content">
    <span ng-click="user.showEditUserModal(false)" class="close">&times;</span>
    <div class="modalBigText">Edit Information</div>

    <div class="modalFields edit-info-form">

      <img class="modalThumbPic" id="profile-img-preview" src={{user.userInfoEdit.profile_url}} alt="">

      <label class="thumbcmdlink thumbuser" for="profile-file-upload">
        <input id="profile-file-upload" type="file" accept="image/*" style="display:none;">
        Select Profile Picture
      </label>

      <form class="modalFields" ng-submit="user.saveUserInfo()">

        <input type="text" ng-model="user.userInfoEdit.name">

        <input type="text" ng-model="user.userInfoEdit.address" placeholder="Address">

        <input type="password" ng-model="user.userInfoEdit.password" placeholder="Password">

        <!-- <input type="text" ng-model="user.userInfoEdit.profile_url" placeholder="Profile Pic URL"> -->

        <input type="submit" class="profileButton" value="Save">

      </form>
    </div>

  </div> <!-- end modal content -->
</div> <!-- end modal container -->
