<div class="container">
  <div class="inner-container">

    <!-- Photographer's bio -->
    <div ng-if="user.showeditform === false" class="user-info">
      <div class="username">
        {{user.currentUser.name}}
      </div>

      <img src={{user.currentUser.profile_url}} alt="">
      {{user.currentUser.address}}

      <button ng-if="main.userID === main.selectedUserId"
      class='profilebutton' ng-click="user.startEditInfo()"
      name="Edit">Edit Profile</button>
    </div>

    <!-- Edit photographer's bio -->
    <div ng-if="user.showeditform" class="user-info edit-info-form">
      <form ng-submit="user.saveUserInfo()" >
        <input type="text" ng-model="user.userInfoEdit.name" placeholder="User name" >
        <img src={{user.currentUser.profile_url}} alt="">
        <input type="text" ng-model="user.userInfoEdit.address" placeholder="Address">
        <div>
          <input class="profilebutton" type="submit" name="" value="Save">
          <input ng-click="user.cancelInfoEdit()" type="button" value="Cancel">
        </div>
      </form>
    </div>

    <!-- Collections gallery -->
    <div ng-if="user.collections.length !== 0" class="gallery-container">
      <div class="username">Collections</div>

      <!-- Add collection button -->
      <input ng-if="main.userID === main.selectedUserId"
        type="button"
        class="profilebutton"
        value="Add Collection">

      <!-- Inner collection gallery -->
      <div class="gallery">
        <!-- Thumbnail -->
        <div ng-repeat="collection in user.collections" class="thumbnail">
          <div class="thumbnail-data">
            <div class="thumbuser">{{collection.title}}</div>
          </div>
        </div> <!-- End of Thumbnail -->
      </div> <!-- end of inner collection gallery -->

    </div> <!-- End of collection gallery -->

    <!-- Picture gallery -->
    <div ng-if="user.pictures.length !== 0"  class="gallery-container">
      <div class="myheader">Pictures</div>

      <!-- Add picture button -->
      <input ng-if="main.userID === main.selectedUserId && user.addPicFormVisible === false"
        ng-click="user.showAddPicForm(true)"
        type="button"
        class="profilebutton"
        value="Add Picture">

      <!-- Add a new picture -->
      <div class="edit-info-form" ng-if="user.addPicFormVisible">
        Add New Picture
        <form ng-submit="user.addPicture()" >

          <input type="text" placeholder="Title">
          <textarea rows="5" placeholder="Description"></textarea>
          <input type="text" placeholder="URL">

          <div >
            <input type="submit" value="Save">
            <input ng-click="user.showAddPicForm(false)" type="button" value="Cancel">
          </div>

        </form>
      </div>  <!-- end add new picture -->


      <!-- Picture gallery -->
      <div class="gallery">

        <div ng-repeat="picture in user.pictures" class="thumbnail" >
          <div class="thumbnail-data">
            <img ng-click="main.showPhotoModal(picture.id)" src={{picture.url}} alt="">
            <div ng-click="main.showPhotoModal(picture.id)" class="thumbuser">
              {{picture.title}}
            </div>

            <div ng-if="main.userID === main.selectedUserId" >
              <input ng-click="user.deletePicture(picture.id, $index)"
              type="button" value="Delete" class="profilebutton">

              <input type="button" value="Edit"
              ng-click="main.showPhotoModal(picture.id, true)"
              class="profilebutton">
            </div>
          </div>
        </div> <!-- End thumbnail -->
      </div> <!-- End picture gallery -->
    </div>


  </div>
</div>
